# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Data
data/raw/*
data/processed/*
data/external/*

# Allow a placeholder so folders are tracked
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# System files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
